{% extends "layoutHead.html" %}

{% block content %}

    <nav class="navbar nav-login">
        <a href="{{url_for('main.home')}}">Step Admin</a>
    </nav>

    <br> <br> <br>
    
    <div class="caixa-login">
        <div class="col-md-3 subcaixa">
        <!-- formulário de criação de conta -->
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <br>
                <div class="form-group caixaUser">
                    <div>
                        <i class="fa fa-user"></i>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-sm is-invalid", placeholder="Email",autocomplete="off")}}
                    <div class="invalid-feedback">
                            {% for erro in form.email.errors %}
                                <span>{{ erro }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-sm",placeholder="Email",autocomplete="off")}}
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="form-group">
                    {% if form.password.errors %}
                      {{ form.password(class="form-control form-control-sm is-invalid",placeholder="Senha")}}
                    <div class="invalid-feedback">
                            {% for erro in form.password.errors %}
                                <span>{{ erro }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-sm",placeholder="Senha")}}
                    {% endif %}
                </div>

                <!-- Mensagem de erro -->
                {% include 'message.html' %}
                
                <!-- Lembrar senha -->
                <!-- Entrar -->
                <div class="form-group">
                    {{ form.remember()}}
                    {{ form.remember.label()}}
                    
                    {{ form.submit(class="btn dsBtn-2",style="width: 100%;")}} 
                    
                    <a href="{{ url_for('users.criarconta')}}" class="btn dsBtn-1" style="margin-top: 8px; width: 100%;">Registar-se</a> 
                </div>
                
                
                <!-- Link para registar-se -->
                <small class="text-muted ml-2"> <a href="#">Esqueceu a senha?</a> </small>

            </fieldset>
        </form>
        </div>
    </div>
{% endblock content %}