<!-- ModalConfirm -->
<div class="modal fade" id="ModalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="display: flex;">
        <div class="modal-content col-md-8" style="margin-left:20%; margin-top: 10%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Atenção</h4>
            </div>
            <div class="modal-body">
                Estás prestes a eliminar este registo, desejas continuar com a operação?
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" id="btnConfirm">Sim</a>
                <button data-dismiss="modal" class="btn btn-default" type="button">Não</button>
            </div>
        </div>
    </div>
</div>